<section class="home-main" id="home">
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <div class="home-profile"></div>
            </div>
            <div class="col-sm-7">
                <span class="home-tag">Front-End Developer</span>
                <h1>Samuel Rohan</h1>
                <p class="home-description"> Driven developer with knowledge of HTML, CSS, Java and JavaFX. Seeking the opportunity to work within a growing organization thatwill utilize and enhance my knowledge of software development. Experienced in troubleshooting, application programing, and IT support </p>
                <a href="#about" class="home-readmore">Read More <img src="assets/img/readmore.png" alt="Read More Icon"/> </a>
                <div class="home-social-media">
                    <a href="https://github.com/RerunsLegacy"><img src="assets/img/github.png" alt="GitHub Icon"/></a>
                    <a href="https://www.linkedin.com/in/sam-rohan/"><img src="assets/img/linkedin.png" alt="LinkedIn Icon"/></a>
                </div>
            </div>
        </div>
    </div>
</section>