.home-profile{
    background: url(/assets/img/samuelrohan.png);
    width: 80%;
    height: 450px;
    background-size: cover;
    border: 5px solid #a9a9a9;
    border-radius: 5%;
    background-position: top;
    background-repeat: no-repeat;
}
.home-tag{
    background: #989899;
    border-radius: 35px;
    color: #fff;
    padding: 5px 10px;
    font-size: 14px;
}
.home-description{
    width: 100%;
}

/*READ MORE CLASS*/
.home-readmore{
    color:#000;
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 0px;
}
.home-readmore img{
    transition: all .5s;
    transform: translateX(0);
}
.home-readmore:hover img{
    transform: translateX(5px);
}
.home-social-media a{
    display: inline-flex;
    justify-content: center;
    height: 50px;
    width: 50px;
    align-items: center;
    background: transparent;
    border: 3px solid #add8e6;
    border-radius: 50%;
    color: #add8e6;
    margin: 24px 12px 24px 0px;
}
