
.tech-stack-header{
    font-size: 2.5rem;
    text-align: center;
}
.about-content{
    padding-left: 20vw;
    width: 300vw;
    font-size: 2rem;
    text-align: center;
}
.about-tech-stack{
    width: 100%
}
.heading{
    text-align: center;
    font-size: 4rem;
}
span{
    color: #add8e6;
}
.javascript-icon{
    padding: 1.25rem;
    padding-left: 10rem;
}
.angular-icon{
    padding: 1.25rem;
    padding-left: 10rem;
}
.html-icon{
    padding: 1.25rem;
    padding-left: 10rem;
}
.css-icon{
    padding: 1.25rem;  
    padding-left: 10rem; 
}