<section class="about-main" id="about">
    <div class="about-content">
        <h2 class="heading">About <span>Me</span></h2>
        <h3>Software Developer</h3>
        <p>Hi, my name is Samuel Rohan and I am a frontend developer who is passionate about coding and furthering my knowledge. My love for coding began in an elementary school computer class where I would shock the class by changing text on assignments with the Google Chrome inspect tool. I love the feeling of being able to turn my ideas into reality using programming languages like HTML, CSS, and JavaScript. What excites me the most about the world of software development is the constant challenge to improve my skills and stay up-to-date with the latest trends in the industry. I enjoy taking online courses, developing new software, and participating in group projects to expand my knowledge and experience. As a frontend developer, I take pride in creating beautiful, intuitive, and responsive user interfaces that enhance the user experience. </p>
    </div>
    <div class="about-tech-stack">
        <ul>
            <h6 class="tech-stack-header">Tech Stack</h6>
            <li>
                <img class="javascript-icon" src="assets/img/javascript.png" alt="Java Image">
            </li>
            <li>
                <img class="angular-icon" src="assets/img/angular.png" alt="Angular Image">
            </li>
            <li>
                <img class="html-icon"src="assets/img/html.png" alt="HTML Image">
            </li>
            <li>
                <img class="css-icon"src="assets/img/css.png" alt="CSS Image">
            </li>
        </ul>
    </div>
</section>