<section class="portfolio" id="portfolio">
    <h2 class="heading">Latest <span>Projects</span></h2>
    
    <div class="portfolio-container">
        <div class="portfolio-box">
            <img src="assets/img/project1.jpg" alt="Project One Image">
            <div class="portfolio-layer">
                <h4>Inventory Management</h4>
                <p>An inventory management application developed in JavaFX. This app will allow users to add, delete, and modify parts which can then be used to create products.</p>
                <a href="#"><img src="assets/img/link.png" alt="Link Icon"></a>
                <a href="https://github.com/RerunsLegacy/inventory-system"><img src="assets/img/github.png" alt="GitHub Icon"/></a>
            </div>
        </div>
    
        <div class="portfolio-box">
            <img src="assets/img/project2.jpg" alt="Project Two Image">
            <div class="portfolio-layer">
                <h4>University Data Migration</h4>
                <p>Software application to help a university migrate an existing student system to a new platform using C++ language.</p>
                <a href="https://github.com/RerunsLegacy/UniversityDataMigration"><img src="assets/img/github.png" alt="GitHub Icon"/></a>
            </div>
        </div>
    
        <div class="portfolio-box">
            <img src="assets/img/project3.jpg" alt="Project Three Image">
            <div class="portfolio-layer">
                <h4>Portfolio Website</h4>
                <p>A portfolio website to showcase my skills, creativity, and expertise through visually captivating designs and an intuitive user experience. It effectively highlights my recent body of work, hoping to leave a lasting impression on visitors.</p>
                <a href="samuelrohan.com"><img src="assets/img/link.png" alt="Link Icon"></a>
            </div>
        </div>

        <div class="portfolio-box">
            <img src="assets/img/project4.jpg" alt="Project Four Image">
            <div class="portfolio-layer">
                <h4>Ecommerce Website</h4>
                <p>An ecommerce website with innovative features, intuitive interface, and extensive product catalog. With a focus on seamless navigation, personalized recommendations, and secure transactions, it aims to benefit customers who shop online.</p>
                <a href="#"><img src="assets/img/link.png" alt="Link Icon"></a>
            </div>
        </div>
    </div>
</section>